
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: uploader
    ports:
    - "5433:5432"
    volumes:
    - db_data:/var/lib/postgresql/data
    - ./Backend/src/db/migrations.sql:/docker-entrypoint-initdb.d/migrations.sql


  backend:
    build: ./backend
    env_file: .env
    volumes:
      - ./uploads_tmp:/uploads_tmp
    ports:
      - "4000:4000"
    depends_on:
      - db

  frontend:
    build: ./frontend
    command: npm run dev
    ports:
    - "5173:5173"
    depends_on:
      - backend

volumes:
  db_data:
